In [1]:
import pandas as pd
import cluj_tools as ct

In [2]:
# I could easily use the boxscores from in the db instead of pulling from ESPN
# but nice that ESPN has them as totals, still could calculate totals for players from boxscores without too much trouble

In [3]:
final_stats_df = ct.player_rater()

In [4]:
# how to properly account for fga and fta in their ranks? Did what I did make sense? doesn't appear to match up well with website
# do I need to remove anyone when I calculate the ranks?

In [5]:
my_team = final_stats_df.loc[final_stats_df.onTeamId==10]
my_team

,playerName,onTeamId,injuryStatus,total_rank,ast_total_rank,blocks_total_rank,steals_total_rank,reb_total_rank,pts_total_rank,threes_total_rank,ast_avg_rank,blocks_avg_rank,steals_avg_rank,reb_avg_rank,pts_avg_rank,threes_avg_rank,fg_rank_adj,ft_rank_adj
223,Giannis Antetokounmpo,10,ACTIVE,21.756265,2.064354,1.551459,1.187894,3.644784,3.155242,0.688557,1.960813,1.356674,1.059517,3.596644,3.150554,0.583851,3.017392,-5.261470
267,Nikola Jokic,10,ACTIVE,20.546572,2.990667,0.565341,1.504596,2.878108,2.030309,0.489240,2.487167,0.262411,1.081881,2.352507,1.615966,0.222142,1.356760,0.709478
195,Buddy Hield,10,ACTIVE,12.658495,0.813230,-0.109372,0.765623,0.731417,2.033637,3.553747,0.511519,-0.322195,0.377410,0.338443,1.619110,3.022230,-0.871570,0.195265
254,Julius Randle,10,ACTIVE,9.038821,0.861351,-0.265075,0.660055,2.571438,1.750740,0.240093,0.590599,-0.445173,0.317849,2.140629,1.411371,0.019116,-0.175538,-0.638633
119,Tomas Satoransky,10,ACTIVE,7.435731,2.280895,-0.576480,2.190786,0.245856,0.416131,0.289922,1.726883,-0.739029,1.602493,-0.176140,0.027072,-0.008134,-0.072335,0.227813
192,Taurean Prince,10,ACTIVE,7.324142,0.163608,0.046331,1.029542,1.285127,0.685715,1.884462,-0.055402,-0.169849,0.677272,0.909159,0.384547,1.552265,-0.948409,-0.120228
46,Derrick Rose,10,DAY_TO_DAY,6.767235,2.028264,-0.265075,0.396136,-0.444152,1.374653,-0.058884,1.994992,-0.377385,0.265335,-0.643522,1.345955,-0.151410,0.795161,0.507167
173,Elfrid Payton,10,ACTIVE,5.577759,1.535033,-0.213174,0.923974,-0.128964,-0.359340,-0.781410,2.486485,-0.057998,1.802077,0.196579,-0.121846,-0.785207,0.023084,1.058465
398,Miles Bridges,10,ACTIVE,5.131437,0.019248,1.032449,0.132217,0.918826,0.745623,0.813131,-0.208883,0.667138,-0.226422,0.514274,0.402131,0.518086,-0.217951,0.021568
184,Maxi Kleber,10,ACTIVE,3.197782,-0.449923,1.810963,-0.659540,0.842159,0.153203,0.937704,-0.623437,1.390324,-0.965808,0.485077,-0.128865,0.669543,0.005241,-0.268859
210,Nerlens Noel,10,ACTIVE,2.520591,-0.473983,2.329973,0.976758,0.475858,-0.202915,-1.055472,-0.541396,2.413278,1.086790,0.482889,-0.258705,-1.184288,-1.523464,-0.004733
325,Matisse Thybulle,10,ACTIVE,2.324058,-0.413833,0.876746,1.926867,-0.818972,-0.635581,0.015860,-0.507654,0.788452,2.008693,-1.028987,-0.794883,-0.047332,0.465068,0.489613
284,Jakob Poeltl,10,ACTIVE,2.268457,0.031278,3.108487,-0.184486,0.995494,-0.445874,-1.080386,-0.177919,2.537510,-0.503692,0.631875,-0.706453,-1.212050,-1.187590,0.462263
87,Enes Kanter,10,DAY_TO_DAY,-0.922905,-0.582254,0.721043,-0.606757,1.191422,-0.172961,-1.055472,-0.605074,0.902925,-0.648016,1.620886,-0.079085,-1.181286,-0.542710,0.114433

In [14]:
cat_ranks = [#'ast_total_rank','blocks_total_rank','steals_total_rank','reb_total_rank','pts_total_rank','threes_total_rank',
                'ast_avg_rank','blocks_avg_rank','steals_avg_rank','reb_avg_rank','pts_avg_rank','threes_avg_rank',
                'fg_rank_adj','ft_rank_adj']

In [15]:
my_team[cat_ranks].sum()

ast_avg_rank        9.038692
blocks_avg_rank     8.207085
steals_avg_rank     7.935380
reb_avg_rank       11.420311
pts_avg_rank        7.866870
threes_avg_rank     2.017525
fg_rank_adj         0.123139
ft_rank_adj        -2.507859
dtype: float64

In [20]:
team_stats_list = []
for team_id in range(1, 13):
    team_stats = final_stats_df.loc[(final_stats_df.onTeamId==team_id) & (final_stats_df.injuryStatus!= 'OUT')]
    print(team_stats.shape)
    team_stats = final_stats_df.loc[(final_stats_df.onTeamId==team_id)]
    team_stats_list.append(team_stats[cat_ranks].sum())

(12, 18)
(12, 18)
(12, 18)
(13, 18)
(13, 18)
(12, 18)
(11, 18)
(12, 18)
(11, 18)
(14, 18)
(13, 18)
(13, 18)

In [21]:
team_rater = pd.concat(team_stats_list, axis=1).transpose()
team_ranks = team_rater.rank(ascending=False)
team_rater['teamId'] = list(range(1,13))
team_ranks['teamId'] = list(range(1,13))

In [22]:
team_ranks

,ast_avg_rank,blocks_avg_rank,steals_avg_rank,reb_avg_rank,pts_avg_rank,threes_avg_rank,fg_rank_adj,ft_rank_adj,teamId
0,4.0,6.0,4.0,10.0,9.0,10.0,1.0,5.0,1
1,12.0,3.0,10.0,3.0,6.0,8.0,12.0,10.0,2
2,2.0,9.0,8.0,8.0,8.0,9.0,5.0,8.0,3
3,7.0,2.0,12.0,1.0,2.0,3.0,11.0,4.0,4
4,1.0,5.0,5.0,6.0,5.0,5.0,10.0,7.0,5
5,3.0,10.0,3.0,11.0,11.0,2.0,4.0,9.0,6
6,8.0,7.0,9.0,7.0,7.0,1.0,9.0,2.0,7
7,10.0,1.0,1.0,9.0,10.0,11.0,8.0,11.0,8
8,9.0,8.0,6.0,5.0,3.0,6.0,3.0,3.0,9
9,6.0,4.0,7.0,4.0,12.0,12.0,7.0,12.0,10
10,11.0,12.0,11.0,12.0,4.0,7.0,6.0,6.0,11
11,5.0,11.0,2.0,2.0,1.0,4.0,2.0,1.0,12

In [12]:
team_rater

,ast_avg_rank,blocks_avg_rank,steals_avg_rank,reb_avg_rank,pts_avg_rank,threes_avg_rank,fg_rank_adj,ft_rank_adj,teamId
0,11.238789,6.485172,10.067444,6.714312,10.246677,4.257289,2.137645,6.939421,1
1,3.613898,8.217969,5.470216,12.339569,12.587957,6.788141,-2.228999,-0.750018,2
2,12.568755,3.510004,7.607471,7.454411,11.223420,5.319468,0.435310,2.656658,3
3,8.290696,10.198410,3.752829,16.688810,17.491336,9.697059,-0.903444,7.545033,4
4,14.823790,7.209129,9.546063,7.828228,12.762647,8.576335,-0.636730,4.460333,5
5,11.714817,2.165176,10.310628,6.503074,8.439574,9.846070,0.457089,0.937741,6
6,7.764068,4.910690,7.239123,7.568603,12.425890,10.795251,-0.443214,9.799175,7
7,5.362404,15.549745,11.421904,7.323599,8.714037,4.121267,-0.202741,-1.578307,8
8,6.077676,3.936388,8.846515,10.875518,12.966606,7.393286,1.216675,7.634423,9
9,9.038692,8.207085,7.935380,11.420311,7.866870,2.017525,0.123139,-2.507859,10
10,4.191984,-1.416748,4.461382,5.345969,12.821308,7.336155,0.428753,4.799479,11
11,10.493800,0.808011,10.519207,13.604081,17.494982,9.285412,1.739183,10.140454,12

In [13]:
final_stats_df.loc[final_stats_df.playerName=='Jrue Holiday']

,playerName,onTeamId,injuryStatus,total_rank,ast_avg_rank,blocks_avg_rank,steals_avg_rank,reb_avg_rank,pts_avg_rank,threes_avg_rank,fg_rank_adj,ft_rank_adj
58,Jrue Holiday,8,ACTIVE,9.004776,2.402089,0.991037,2.582243,0.367227,1.631643,1.226741,-0.0749,-0.121304

In [14]:
final_stats_df.loc[final_stats_df.playerName=='Giannis Antetokounmpo']

,playerName,onTeamId,injuryStatus,total_rank,ast_avg_rank,blocks_avg_rank,steals_avg_rank,reb_avg_rank,pts_avg_rank,threes_avg_rank,fg_rank_adj,ft_rank_adj
223,Giannis Antetokounmpo,10,ACTIVE,10.29182,2.079321,1.482211,1.155485,3.64099,3.207736,0.690665,2.60243,-4.567016

In [15]:
final_stats_df.loc[final_stats_df.playerName=='Robert Covington']

,playerName,onTeamId,injuryStatus,total_rank,ast_avg_rank,blocks_avg_rank,steals_avg_rank,reb_avg_rank,pts_avg_rank,threes_avg_rank,fg_rank_adj,ft_rank_adj
137,Robert Covington,8,ACTIVE,6.093502,-0.448631,1.184366,2.484964,0.85331,0.569605,1.45576,-0.107802,0.101929

In [16]:
final_stats_df.loc[final_stats_df.playerName=='Josh Richardson']

,playerName,onTeamId,injuryStatus,total_rank,ast_avg_rank,blocks_avg_rank,steals_avg_rank,reb_avg_rank,pts_avg_rank,threes_avg_rank,fg_rank_adj,ft_rank_adj
171,Josh Richardson,8,OUT,3.602524,0.77878,0.418264,0.826613,-0.194751,0.901328,0.721948,-0.092498,0.24284