In [1]:
import pandas as pd
import cluj_tools as ct

In [2]:
# I could easily use the boxscores from in the db instead of pulling from ESPN
# but nice that ESPN has them as totals, still could calculate totals for players from boxscores without too much trouble

In [3]:
final_stats_df = ct.player_rater()

In [4]:
# how to properly account for fga and fta in their ranks? Did what I did make sense? doesn't appear to match up well with website
# do I need to remove anyone when I calculate the ranks?

In [28]:
team = final_stats_df.loc[final_stats_df.onTeamId==10][['playerName']+cat_ranks]
team

,playerName,ast_avg_rank,blocks_avg_rank,steals_avg_rank,reb_avg_rank,pts_avg_rank,threes_avg_rank,fg_rank_adj,ft_rank_adj
223,Giannis Antetokounmpo,2.080725,1.486815,1.151350,3.678073,3.222229,0.676690,2.725456,-4.635156
267,Nikola Jokic,2.633520,0.472344,1.219763,2.453401,1.736688,0.368083,1.353021,0.765111
195,Buddy Hield,0.615432,-0.240137,0.507698,0.464238,1.713386,3.129588,-0.488726,0.244889
254,Julius Randle,0.695225,-0.366883,0.450989,2.223744,1.510524,0.126201,0.025351,-0.531693
192,Taurean Prince,0.043397,-0.083122,0.793199,1.021438,0.507806,1.659490,-0.706811,-0.065010
119,Tomas Satoransky,1.841759,-0.669743,1.674108,-0.038158,0.158723,0.098949,-0.020844,0.317718
46,Derrick Rose,2.112286,-0.297018,0.400991,-0.494472,1.446643,-0.044340,0.781327,0.550207
398,Miles Bridges,-0.130688,0.790416,-0.048427,0.709192,0.547497,0.613610,-0.092957,0.083430
173,Elfrid Payton,2.608213,0.032155,1.864133,0.325734,0.013302,-0.678195,-0.022144,0.692442
184,Maxi Kleber,-0.529762,1.524855,-0.771190,0.607400,0.006447,0.776687,0.032792,-0.113630
210,Nerlens Noel,-0.446982,2.579153,1.183104,0.605263,-0.120345,-1.077311,-0.802526,0.048344
325,Matisse Thybulle,-0.412935,0.904541,2.060854,-0.870808,-0.643935,0.059748,0.215166,0.324812
87,Enes Kanter,-0.511234,1.022522,-0.468618,1.716309,0.055059,-1.074310,-0.190019,0.035814

In [6]:
cat_ranks = [#'ast_total_rank','blocks_total_rank','steals_total_rank','reb_total_rank','pts_total_rank','threes_total_rank',
                'ast_avg_rank','blocks_avg_rank','steals_avg_rank','reb_avg_rank','pts_avg_rank','threes_avg_rank',
                'fg_rank_adj','ft_rank_adj']

In [7]:
my_team[cat_ranks].sum()

ast_avg_rank       12.720743
blocks_avg_rank     7.477309
steals_avg_rank    10.657538
reb_avg_rank        7.130134
pts_avg_rank       11.467185
threes_avg_rank     5.611954
fg_rank_adj         5.171349
ft_rank_adj         5.076581
dtype: float64

In [8]:
team_stats_list = []
for team_id in range(1, 13):
    team_stats = final_stats_df.loc[(final_stats_df.onTeamId==team_id) & (final_stats_df.injuryStatus!= 'OUT')]
    team_stats = final_stats_df.loc[(final_stats_df.onTeamId==team_id)]
    print(team_stats.shape)
    team_stats_list.append(team_stats[cat_ranks].sum())

(13, 18)
(13, 18)
(13, 18)
(14, 18)
(14, 18)
(11, 18)
(14, 18)
(14, 18)
(14, 18)
(13, 18)
(14, 18)
(14, 18)

In [9]:
team_rater = pd.concat(team_stats_list, axis=1).transpose()
team_ranks = team_rater.rank(ascending=False)
team_rater['teamId'] = list(range(1,13))
team_ranks['teamId'] = list(range(1,13))

In [10]:
team_ranks

,ast_avg_rank,blocks_avg_rank,steals_avg_rank,reb_avg_rank,pts_avg_rank,threes_avg_rank,fg_rank_adj,ft_rank_adj,teamId
0,4.0,5.0,4.0,11.0,10.0,10.0,1.0,5.0,1
1,12.0,3.0,11.0,3.0,6.0,8.0,12.0,10.0,2
2,2.0,9.0,8.0,9.0,8.0,9.0,7.0,8.0,3
3,7.0,2.0,12.0,1.0,1.0,3.0,9.0,4.0,4
4,1.0,4.0,3.0,7.0,5.0,6.0,8.0,6.0,5
5,3.0,11.0,5.0,12.0,12.0,1.0,6.0,9.0,6
6,8.0,7.0,9.0,8.0,7.0,2.0,10.0,2.0,7
7,11.0,1.0,1.0,6.0,9.0,11.0,11.0,11.0,8
8,10.0,8.0,6.0,4.0,4.0,7.0,4.0,3.0,9
9,6.0,6.0,7.0,5.0,11.0,12.0,3.0,12.0,10
10,9.0,12.0,10.0,10.0,3.0,5.0,5.0,7.0,11
11,5.0,10.0,2.0,2.0,2.0,4.0,2.0,1.0,12

In [11]:
team_rater

,ast_avg_rank,blocks_avg_rank,steals_avg_rank,reb_avg_rank,pts_avg_rank,threes_avg_rank,fg_rank_adj,ft_rank_adj,teamId
0,12.720743,7.477309,10.657538,7.130134,11.467185,5.611954,5.171349,5.076581,1
1,4.919424,9.738919,6.891953,13.715157,13.985670,8.091743,0.530021,-0.520223,2
2,14.049550,4.808577,9.404534,9.093334,12.736639,6.764226,1.471964,3.030057,3
3,9.709958,11.820880,5.611943,18.225213,18.922081,11.189463,1.140962,7.127923,4
4,16.364269,8.586015,11.309499,9.486018,14.303831,10.110561,1.410597,4.611661,5
5,13.266923,1.497391,10.441937,7.019918,10.122781,12.344444,1.510762,1.057858,6
6,9.247028,6.172369,8.923398,9.280912,13.946318,12.208434,0.990718,9.481767,7
7,6.777058,16.879990,12.690577,10.519733,11.795959,4.998420,0.718715,-0.607813,8
8,7.526180,5.323570,10.434615,12.509586,14.513304,8.890276,2.579216,7.543664,9
9,10.598957,7.155898,10.017954,12.401353,10.154025,4.634889,2.809087,-2.282720,10
10,8.014534,-0.109643,7.683263,7.397559,15.925142,10.176544,2.302541,3.489303,11
11,11.989852,2.053527,12.068223,15.152502,18.908165,10.771570,2.958602,10.287229,12

In [13]:
final_stats_df.loc[final_stats_df.playerName=='Jrue Holiday']

,playerName,onTeamId,injuryStatus,total_rank,ast_avg_rank,blocks_avg_rank,steals_avg_rank,reb_avg_rank,pts_avg_rank,threes_avg_rank,fg_rank_adj,ft_rank_adj
58,Jrue Holiday,8,ACTIVE,9.004776,2.402089,0.991037,2.582243,0.367227,1.631643,1.226741,-0.0749,-0.121304

In [23]:
final_stats_df.loc[final_stats_df.playerName=='Giannis Antetokounmpo'][cat_ranks]

,ast_avg_rank,blocks_avg_rank,steals_avg_rank,reb_avg_rank,pts_avg_rank,threes_avg_rank,fg_rank_adj,ft_rank_adj
223,2.080725,1.486815,1.15135,3.678073,3.222229,0.67669,2.725456,-4.635156

In [34]:
final_stats_df.loc[final_stats_df.playerName.isin(['Taurean Prince', 'Buddy Hield'])][cat_ranks].sum() - final_stats_df.loc[final_stats_df.playerName.isin(['Myles Turner', 'Josh Richardson'])][cat_ranks].sum()

ast_avg_rank       0.339489
blocks_avg_rank   -4.223443
steals_avg_rank    0.240743
reb_avg_rank       0.818808
pts_avg_rank       0.866660
threes_avg_rank    3.492810
fg_rank_adj       -1.119693
ft_rank_adj       -0.079012
dtype: float64

In [22]:
final_stats_df.loc[final_stats_df.playerName=='Josh Richardson'][cat_ranks]

,ast_avg_rank,blocks_avg_rank,steals_avg_rank,reb_avg_rank,pts_avg_rank,threes_avg_rank,fg_rank_adj,ft_rank_adj
171,0.777738,0.420926,0.827935,-0.195325,0.901719,0.722276,-0.091518,0.240286